<div>
    <div style="padding-left:10%; padding-right:20%;">
        <h1 style="font-size: xx-large;color: red; background: black; text-align:center; height: 120px;padding-top: 60px; font-size: 70px;">
            ATHLETTO</h1>
    <router-outlet></router-outlet>

    <div style="background-color: blueviolet;">ABOUT US</div>
    <p>
        Athletto has a website, an android and iOS app which provides customers with detailed information about each 
        facility like photographs, timings, contact details, location, prices, ratings, reviews, coach information and more.
        The Athletto team says their aim is to digitize the complete sports ecosystem.20-Jan-2018
    </p>
    <div style="background-color:brown">CONTACT US</div>
    
<p style="text-overflow: clip;">Want to play, but don't know where and how? Visit www.athletto.com to explore your nearest playgrounds & book in advance. Let's play, India!
Athletto is the best option to search and discover great places to play sports around you.
You can find the nearest sports arena / courts / fields / … See more
28,075 people like this
28,019 people follow this</p>
</div>
</div>
