hello333
<div class="container mt-5 mb-5 p-5 shadow">
    <div class="row">
        <div class="col-6 bg-secondary">sss</div>
        <div class="col-6 bg-primary">eeee</div>
    </div>

    <div class="container bg-danger m-3 P-3 ">
        container
        <div class="row P-3">
         <div class="col-3 bg-danger">AAA</div>
         <div class="col-3 bg-primary">BBB</div>
         <div class="col-3 bg-secondary">CCC</div>
         <div class="col-3 bg-danger">DDD</div>
        </div>
    </div>
                   

    <div class="container m-2 p-5">
        <div class="row">
            <div class="col-sm-2 bg-secondary">aaa</div>
            <div class="col-sm-2 bg-primary">bbb</div>
            <div class="col-sm-2 bg-secondary">ccc</div>
            <div class="col-sm-6 bg-primary">ddd</div>
        </div>

        <div class="container p-5 m-2">
            <div class="row">
                <div class="col-sm-4 bg-primary">ppp</div>
                <div class="col-sm-6 bg-secondary">qqq</div>
                <div class="col-sm-2 bg-primary">rrr</div>

            </div>
        </div>

    </div>

    <div class="row m-2 p-5">
        <div class="col-4 bg-primary ">qqq</div>
        <div class="col-4 bg-primary bg-secondary ">aaa</div>
        <div class="col-4 bg-primary bg-primary ">eee</div>
    </div>

    <button class="btn btn-primary m-2">I AM BUTTON</button>
    <button class="btn btn-secondary m-2">I AM BUTTON</button>
    <button class="btn btn-info m-2">I AM BUTTON</button>
</div>

<div class="container mt-3">
    <h2>Button Styles</h2>
    <button type="button" class="btn">Basic</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-link">Link</button>
</div>

<div class="container m-2 p-3">
    <div class="row">
        <div class="col-6 bg-primary">
            <div class="row bg-secondary">

                <div class="col-3 bg-primary">submit</div>
                <div class="col-3 btn-danger">cancel</div>
                <div class="col-3 btn-warning">money</div>
                <div class="col-3 bg-secondary">shikha</div>
            </div>
        </div>
        <div class="col-6 bg-primary">
            <div class="row bg-secondary">
            <div class="col-2 bg-secondary">sony</div>
            <div class="col-2 bg-danger">sss1</div>
            <div class="col-2 bg-secondary">ggg</div>
            <div class="col-2 bg-danger">uuu</div>
            <div class="col-2 bg-secondary">ooo</div>
            <div class="col-2 bg-danger">uuu</div>
            </div>
        </div>

    </div>

</div>

<div class="container p-5 my-5 bg-primary text-white border">
sjkjdsfhkjdshfkjdshfkjdsfskjfhkj-+
</div>
<div class="container bg-dark text-white m-3 p-5 border">
aaaaaaaaaaaaaaaaa
</div><br>