<p>crud works in Athleto!</p>

<form [formGroup]="tableFormGroup">
    Enter name   : <input type="text" formControlName="name" ><br>
    Enter age    : <input type="text" formControlName="age"><br>
    Enter Email  : <input type="text" formControlName="email"><br>
    Enter mobile : <input type="text" formControlName="mobile"><br><br>
    <button (click)="showData()" [disabled]="tableFormGroup.invalid"> ADD </button>
</form>

<!-- Is Form Complet :{{ tableFormGroup.valid }} -->

   
<table class="table table-dark table-stripted ">
    <thead>
        <tr>
            <th>name</th>
            <th>age</th>
            <th>Email</th>
            <th>mobile</th>
            <th></th>
        </tr>
    </thead>
    
<tbody>
    <tr *ngFor="let item of tableData; index as i" >
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
        <td>{{item.Email}}</td>
        <td>{{item.mobile}}</td>
        <th>
            <button >EDIT</button>
            <button (click)="delete(i)">DELETE</button>
        </th>
    </tr>
</tbody>
</table>
